:root {
    --background-color-app: #fff;
    --background-color-base: #f5f5f5;
    --background-color-secondary: #fafafa;
    --background-color-pure: #fff;
    --border-color: #e8e8e8;
    --heading-color: #252525;
}

html,
body {
    background-color: var(--background-color-app);
}

* {
    box-sizing: border-box;
}
