@media screen and (min-resolution: 2dppx) {
    body {
        -webkit-font-smoothing: antialiased;
    }
}

.app {
    font-size: 14px;
}

.config {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
}

.config > div {
    margin-left: 20px;
}

.switch {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #71b9f1;
    color: #fff;
    width: 250px;
    height: 50px;
    font-size: 1.5em;
    cursor: pointer;
}

.diff-chunk-header {
    line-height: 2;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.diff-chunk-header-gutter {
    background-color: #deecfe;
    position: relative;
    cursor: pointer;
}

.diff-chunk-header-gutter:hover {
    background-color: #4677d2;
}

.diff-chunk-header-content {
    background-color: #f2f8ff;
    padding-left: .5em;
    color: #999;
}

.unfold {
    position: absolute;
    fill: #000;
    width: 8px;
    height: 12px;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -4px;
}

.diff-chunk-header-gutter:hover .unfold {
    fill: #fff;
}
