.diff-file {
    margin-top: 2em;
    border: 1px solid #e1e1e1;
}

.diff-file-header {
    background-color: #f7f7fa;
    line-height: 3;
    padding-left: 1em;
    border-bottom: 1px solid #e1e1e1;
}

.filename {
    margin-right: 1em;
}

.addition-count {
    margin-right: 1em;
    color: #88b149;
}

.deletion-count {
    margin-right: 1em;
    color: #ee5b60;
}
