.diff-line {
    line-height: 1.5;
    font-family: Consolas, Courier, monospace;
}

.diff-gutter > a {
    color: inherit;
    display: block;
}

.diff-gutter:empty,
.diff-gutter > a {
    padding: 0 1ch;
    text-align: right;
    cursor: pointer;
    user-select: none;
}

.diff-gutter:empty:before,
.diff-gutter > a:before {
    content: attr(data-line-number);
}

.diff-gutter-insert {
    background-color: #d6fedb;
}

.diff-gutter-delete {
    background-color: #fadde0;
}

.diff-gutter-omit {
    cursor: default;
}

.diff-gutter-selected {
    background-color: #fef6b9;
}

.diff-code {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0;
    padding-left: .5em;
}

.diff-code-text {
    cursor: text;
}

.diff-code-insert {
    background-color: #eaffee;
}

.diff-code-edit {
    color: inherit;
}

.diff-code-insert .diff-code-edit {
    background-color: #c0dc91;
}

.diff-code-delete {
    background-color: #fdeff0;
}

.diff-code-delete .diff-code-edit {
    background-color: #f39ea2;
}

.diff-code-selected {
    background-color: #fffce0;
}

.diff-omit {
    background-color: #fafbfc;
}
