.diff-hunk-header {
    line-height: 1.5;
    user-select: none;
}

.diff-hunk-header-content {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0;
}
